<H1>
  Details Unavailable...
 </H1>
 
 <div class="card_container container">
  <div *ngFor = "let mu of musicDetails" class="card" style="width: 18rem;">
      <img src= "{{mu.image[3] ['#text']}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{mu.name}}</h5>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
 
         <div class="col-sm-6">
          <div class="card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">music.name.artist</li>
              <li class="list-group-item">music.name.listeners</li>
              <li class="list-group-item">music.name.streamable</li>
            </ul>
            </div>
      </div>
     </div>
    </div>